/* Name: Soha Chaudhari */
/* Student Number: 9043957 */

/*Root Element*/
html {
    font: 20px Arial, sans-serif;
    background-color: #f5f5f5;
}

/*Body*/
body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Header & Footer */
header, footer{
    text-align: center;
    padding: 1rem;
    background: linear-gradient(to right, #6a116a, #2575fc);
    color: white;
}

h1 {
    font-size: 2.5rem;
}

footer{
    font-size: 0.8rem;
    clear: both;
}

/* Layout */
main {
    float: left;
    width: 70%;
}

aside{
    float:right;
    width: 30%;
    background-color: #eee;
    padding: 1rem;
}
/* Clear floats */
main::after, footer::after{
    content: "";
    display: table;
    clear: both;
}

/* Heading */
h2{
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    text-align: center;
}

/* Blockquote */
blockquote{
    font-style: italic;
    padding: 10px;
    border-left: 5px solid #6a11cb;
    background-color: #f9f9f9;
}

/* Images & Figures */
figure{
    background-color: #ddd;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}
img{
    max-width: 100%;
    border-radius: 8px;
}

/* Quotes */
q{
    font-style: italic;
    font-weight: bold;
    color: #6a11cb;
    border-left: 4px solid #2575fc;
    padding-left: 8px;
}

/* Lists*/
ul {
    list-style: none;
    padding: 0;
}
ul li a {
    text-decoration: none;
    color: navy;
}

ul li a:hover {
    color: red;
}